{% extends "layout.html" %}
{% block content %}
    <div>
        {% with messages = get_flashed_messages(with_categories=true, category_filter=['danger', 'success']) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="padding-top: 9px">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h3 class="text-center">Student Manager</h3>
    </div>
    <div class="container d-flex flex-wrap">
        {% set panel_buttons = ["Select Student", "Add Student"] %}
        {% for button in panel_buttons %}
            <button class="btn btn-dark flex-fill col-md-4" type="button" data-bs-toggle="collapse"
                    data-bs-target="#{{ button.split(" ")|join("") }}Button"
                    aria-expanded="false" aria-controls="{{ button.split(" ")|join("") }}Button" style="margin: 3px">
                {{ button }}
            </button>
        {% endfor %}
    </div>
    <div>
        {% set show_select_student = '' %}
        {% if panel_active.get('select_student') %}
            {% set show_select_student = ' show' %}
        {% endif %}
        <div class="SelectStudentButton collapse multi-collapse in{{ show_select_student }}" id="SelectStudentButton">
            <div class="card card-body">
                <h4 class="border-bottom mb-2 h4">Active Students</h4>
                <div>
                    {% if active_students|count == 0 %}
                        <button class="btn btn-outline-secondary col-auto" type="button" data-bs-toggle="collapse"
                                data-bs-target="#AddStudentButton"
                                aria-expanded="false" aria-controls="AddStudentButton"
                                style="min-width: 150px; margin-bottom: 5px">
                            Nothing to show. Add more students.
                        </button>
                    {% endif %}
                    {% for username, name in active_students %}
                        <a href="{{ url_for('tutors_student_manager.student_manager_selected', student_username=username) }}"
                           class="btn btn-outline-success col-auto"
                           style="min-width: 170px; margin-bottom: 5px">{{ name }}</a>
                    {% endfor %}
                </div>
                <h4 class="border-bottom mb-2 h4" style="margin-top: 5px">Inactive Students</h4>
                <div>
                    {% for username, name in inactive_students %}
                        <a href="{{ url_for('tutors_student_manager.student_manager_selected', student_username=username) }}"
                           class="btn btn-outline-danger col-auto"
                           style="min-width: 170px; margin-bottom: 5px">{{ name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% set show_add_student = '' %}
        {% if panel_active.get('add_student') %}
            {% set show_add_student = ' show' %}
        {% endif %}
        <div class="AddStudentButton collapse multi-collapse in{{ show_add_student }}" id="AddStudentButton">
            <div class="card card-body">
                <h4 class="border-bottom mb-2 h4">Add Student</h4>
                <form method="POST" action="" class="row gy-3 gx-3 align-items-center">
                    {{ add_student_form.hidden_tag() }}
                    {% set form_elements_1 = [add_student_form.name, add_student_form.s_phone, add_student_form.p_phone] %}
                    {% set form_elements_2 = [add_student_form.p_rel, add_student_form.lesson_day, add_student_form.lesson_time] %}
                    {% set form_elements_3 = [add_student_form.lesson_duration, add_student_form.lesson_fee, add_student_form.remarks] %}
                    {% for element in form_elements_1 + form_elements_2 + form_elements_3 %}
                        <div class="form-group col-md-4">
                            {{ element.label(class="form-control-label") }}
                            {% if element.errors %}
                                {{ element(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in element.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ element(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group" style="padding-top: 5px">
                        {{ add_student_form.add_student_submit(class="btn btn-dark") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}