{% extends "layout.html" %}
{% block content %}
    {% if student %}
        <div>
            {% with messages = get_flashed_messages(with_categories=true, category_filter=['danger', 'success']) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" style="padding-top: 9px">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h3 class="text-center">{{ student.name }}</h3>
        </div>
        <!-- PANEL TOGGLES -->
        <div class="container d-flex flex-wrap">
            {% set panel_buttons = ["Credentials", "Attendance", "Payment"] %}
            {% for button in panel_buttons %}
                <button class="btn btn-dark flex-fill col-md-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{ button }}Button"
                        aria-expanded="false" aria-controls="{{ button }}Button" style="margin: 3px">
                    {{ button }}
                </button>
            {% endfor %}
        </div>
        <!-- CREDENTIALS PANEL -->
        {% set show_credentials = '' %}
        {% if panel_active.get('credentials') %}
            {% set show_credentials = ' in show' %}
        {% endif %}
        <div class="CredentialsButton collapse multi-collapse{{ show_credentials }}" id="CredentialsButton">
            <div class="card card-body">
                <h4 class="border-bottom mb-2 h4">Credentials</h4>
                <form method="POST" action="" class="row gy-3 gx-3 align-items-center">
                    {{ student_credentials_form.hidden_tag() }}
                    {% set form_elements_1 = [student_credentials_form.name, student_credentials_form.s_phone, student_credentials_form.p_phone] %}
                    {% set form_elements_2 = [student_credentials_form.p_rel, student_credentials_form.lesson_day, student_credentials_form.lesson_time] %}
                    {% set form_elements_3 = [student_credentials_form.lesson_duration, student_credentials_form.lesson_fee, student_credentials_form.remarks] %}
                    {% for element in form_elements_1 + form_elements_2 + form_elements_3 %}
                        <div class="form-group col-md-4">
                            {{ element.label(class="form-control-label") }}
                            {% if element.errors %}
                                {{ element(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in element.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ element(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group" style="padding-top: 5px">
                        {{ student_credentials_form.student_credentials_submit(class="btn btn-dark mb-xs-1") }}
                        <a href="{{ url_for('tutors_student_manager.student_manager_selected', student_username=student.username, page='credentials') }}"
                           class="btn btn-outline-secondary" style="margin-top: 5px">Discard Unsaved Changes</a>
                    </div>
                </form>
                <div class="d-flex flex-wrap">
                    {% if student.active %}
                        <a href="{{ url_for('tutors_student_manager.make_inactive', student_username=student.username) }}"
                           class="btn btn-outline-danger flex-fill col-md-4"
                           style="margin-top: 15px; margin-right: 5px">Make Inactive</a>
                    {% else %}
                        <a href="{{ url_for('tutors_student_manager.make_active', student_username=student.username) }}"
                           class="btn btn-outline-success flex-fill col-md-4"
                           style="margin-top: 15px; margin-inside: 5px">Make Active</a>
                    {% endif %}
                    <button type="button" class="btn btn-outline-danger flex-fill col-md-4" data-bs-toggle="modal"
                            data-bs-target="#DeleteStudentButton" style="margin-top: 15px; margin-inline: 5px">
                        Remove Student
                    </button>
                </div>
            </div>
        </div>
        <!-- Attendance PANEL -->
        {% set show_attendance = '' %}
        {% if panel_active.get('attendance') %}
            {% set show_attendance = ' in show' %}
        {% endif %}
        <div class="AttendanceButton collapse multi-collapse{{ show_attendance }}" id="AttendanceButton">
            <div class="card card-body">
                <h3 class="border-bottom mb-2 h4">Attendance Record</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Fee</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set tmp_count = {'value': highlight_count} %}
                    {% for a_record in student_attendance.items %}
                        {% if tmp_count.value > 0 %}
                            <tr class="table-secondary" style="vertical-align: middle">
                            {% if tmp_count.update({'value': tmp_count.value - 1}) %}{% endif %}
                        {% else %}
                            <tr style="vertical-align: middle">
                        {% endif %}
                            <th scope="row">{{ a_record.lesson_date }}</th>
                            <td>{{ a_record.lesson_time }}</td>
                            <td>{{ a_record.lesson_duration }} hrs</td>
                            <td>${{ a_record.lesson_fee }}</td>
                            <td>
                                <button class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#AttendanceMore{{ a_record.id }}">More
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    {% for page_number in student_attendance.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_number %}
                            {% if student_attendance.page == page_number %}
                                <a class="btn btn-dark col-1" href="
        {{ url_for('tutors_student_manager.student_manager_selected', student_username=student.username, p=page_number, page='attendance') }}">
                                    {{ page_number }}</a>
                            {% else %}
                                <a class="btn btn-outline-dark col-1" href="
        {{ url_for('tutors_student_manager.student_manager_selected', student_username=student.username, p=page_number, page='attendance') }}">
                                    {{ page_number }}</a>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-outline-dark col-1">...</button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="AttendanceButton collapse multi-collapse{{ show_attendance }}" id="AttendanceButton">
            <div class="card card-body">
                <h4 class="border-bottom mb-2 h4">Add Attendance</h4>
                <form method="POST" action="" class="row gy-3 gx-3 align-items-center">
                    {{ add_attendance_form.hidden_tag() }}
                    {% set form_elements_1 = [add_attendance_form.lesson_date, add_attendance_form.lesson_time, add_attendance_form.lesson_duration] %}
                    {% set form_elements_2 = [add_attendance_form.lesson_fee, add_attendance_form.remarks] %}
                    {% for element in form_elements_1 + form_elements_2 %}
                        <div class="form-group col-md-4">
                            {{ element.label(class="form-control-label") }}
                            {% if element.errors %}
                                {{ element(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in element.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ element(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group" style="padding-top: 5px">
                        {{ add_attendance_form.add_attendance_submit(class="btn btn-dark") }}
                        <a class="btn btn-outline-secondary" style="margin-left: 3px"
                           href="{{ url_for('tutors_student_manager.student_manager_selected', student_username=student.username, page='attendance') }}">Discard
                            Unsaved Input</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- Payment PANEL -->
        {% set show_payment = '' %}
        {% if panel_active.get('payment') %}
            {% set show_payment = ' in show' %}
        {% endif %}
        <div class="PaymentButton collapse multi-collapse{{ show_payment }}" id="PaymentButton">
            <div class="card card-body">
                <h3 class="border-bottom mb-2 h4">Payment Record</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p_record in student_payment.items %}
                        <tr style="vertical-align: middle">
                            <th scope="row">{{ p_record.submission_date }}</th>
                            <td>${{ p_record.amount }}</td>
                            <td>
                                <button class="btn btn-outline-secondary" data-bs-toggle="modal"
                                        data-bs-target="#PaymentMore{{ p_record.id }}">More
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    {% for page_number in student_payment.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_number %}
                            {% if student_payment.page == page_number %}
                                <a class="btn btn-dark col-1" href="
        {{ url_for('tutors_student_manager.student_manager_selected', student_username=student.username, p=page_number, page='payment') }}">
                                    {{ page_number }}</a>
                            {% else %}
                                <a class="btn btn-outline-dark col-1" href="
        {{ url_for('tutors_student_manager.student_manager_selected', student_username=student.username, p=page_number, page='payment') }}">
                                    {{ page_number }}</a>
                            {% endif %}
                        {% else %}
                            <button class="btn btn-outline-dark col-1">...</button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="PaymentButton collapse multi-collapse{{ show_payment }}" id="PaymentButton">
            <div class="card card-body">
                <h4 class="border-bottom mb-2 h4">Add Payment</h4>
                <form method="POST" action="" class="row gy-3 gx-3 align-items-center">
                    {{ add_payment_form.hidden_tag() }}
                    {% set form_elements = [add_payment_form.submission_date, add_payment_form.amount, add_payment_form.remarks] %}
                    {% for element in form_elements %}
                        <div class="form-group col-md-4">
                            {{ element.label(class="form-control-label") }}
                            {% if element.errors %}
                                {{ element(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in element.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ element(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group" style="padding-top: 5px">
                        {{ add_payment_form.add_payment_submit(class="btn btn-dark") }}
                        <a class="btn btn-outline-secondary" style="margin-left: 3px"
                           href="{{ url_for('tutors_student_manager.student_manager_selected', student_username=student.username, page='payment') }}">Discard
                            Unsaved Input</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- BACK BUTTON -->
        <div class="container d-flex flex-wrap">
            <a href="{{ url_for('tutors_student_manager.student_manager') }}" class="btn btn-light flex-fill"
               role="button"
               aria-disabled="true"
               style="margin-top: 10px; margin-bottom: 10px">
                Back
            </a>
        </div>
    {% endif %}
    <div class="modal fade" id="DeleteStudentButton" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Confirm Removal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    This action will likely affect the insights and analytics generated from past tutorial sessions.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Regret</button>
                    <form method="POST"
                          action="{{ url_for('tutors_student_manager.remove_student', student_username=student.username) }}">
                        <input type="submit" class="btn btn-danger" value="Remove Anyway">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% for a_record in student_attendance.items %}
        <div class="AttendanceDetailModal modal fade" id="AttendanceMore{{ a_record.id }}" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="backdropLabel" data-bs-dismiss="modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="backdropLabel">Attendance Record Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-borderless">
                            <tr>
                                <th>Student:</th>
                                <td>{{ student.name }}</td>
                            </tr>
                            <tr>
                                <th>Date/Time:</th>
                                <td>{{ a_record.lesson_date }} / {{ a_record.lesson_time }}</td>
                            </tr>
                            <tr>
                                <th>Duration:</th>
                                <td>{{ a_record.lesson_duration }} hours</td>
                            </tr>
                            <tr>
                                <th>Charge (HKD):</th>
                                <td>${{ a_record.lesson_fee }}</td>
                            </tr>
                            <tr>
                                <th>Remarks:</th>
                                <td>{{ a_record.remark }}</td>
                            </tr>
                            <tr>
                                <th>Last Modified:</th>
                                <td>{{ a_record.dt_attendance }}</td>
                            </tr>
                        </table>
                        <div class="d-flex flex-wrap">
                            <!--<button class="btn btn-outline-secondary flex-fill" style="margin: 3px">Edit Record</button>-->
                            <button class="DeleteAttendanceRecordButton btn btn-outline-danger flex-fill"
                                    data-bs-toggle="modal"
                                    data-bs-target="#DeleteAttendance{{ a_record.id }}Button" data-bs-dismiss="modal"
                                    style="margin: 3px">Delete Record
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="DeleteAttendance{{ a_record.id }}Button" data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confirm Removal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        This action will likely affect the insights and analytics generated from past tutorial sessions.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark DeleteAttendanceRecordRegretButton"
                                data-bs-toggle="modal" data-bs-target="#AttendanceMore{{ a_record.id }}"
                                data-bs-dismiss="modal">Regret
                        </button>
                        <form method="POST"
                              action="{{ url_for('tutors_student_manager.remove_attendance', attendance_id=a_record.id) }}">
                            <input type="submit" class="btn btn-danger" value="Remove Anyway">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for p_record in student_payment.items %}
        <div class="PaymentDetailModal modal fade" id="PaymentMore{{ p_record.id }}" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="backdropLabel" data-bs-dismiss="modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="backdropLabel">Payment Record Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-borderless">
                            <tr>
                                <th>Student:</th>
                                <td>{{ student.name }}</td>
                            </tr>
                            <tr>
                                <th>Date:</th>
                                <td>{{ p_record.submission_date }}</td>
                            </tr>
                            <tr>
                                <th>Amount (HKD):</th>
                                <td>${{ p_record.amount }}</td>
                            </tr>
                            <tr>
                                <th>Remarks:</th>
                                <td>{{ p_record.remark }}</td>
                            </tr>
                            <tr>
                                <th>Last Modified:</th>
                                <td>{{ p_record.dt_add_submission }}</td>
                            </tr>
                        </table>
                        <div class="d-flex flex-wrap">
                            <!--<button class="btn btn-outline-secondary flex-fill" style="margin: 3px">Edit Record</button>-->
                            <button class="DeletePaymentRecordButton btn btn-outline-danger flex-fill"
                                    data-bs-toggle="modal"
                                    data-bs-target="#DeletePayment{{ p_record.id }}Button" data-bs-dismiss="modal"
                                    style="margin: 3px">Delete Record
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="DeletePayment{{ p_record.id }}Button" data-bs-backdrop="static"
             data-bs-keyboard="false"
             tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Confirm Removal</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        This action will likely affect the insights and analytics generated from past tutorial sessions.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark DeletePaymentRecordRegretButton"
                                data-bs-toggle="modal" data-bs-target="#PaymentMore{{ p_record.id }}"
                                data-bs-dismiss="modal">Regret
                        </button>
                        <form method="POST"
                              action="{{ url_for('tutors_student_manager.remove_payment', payment_id=p_record.id) }}">
                            <input type="submit" class="btn btn-danger" value="Remove Anyway">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}