{% extends "layout.html" %}
{% block content %}
    <div class="col-sm-3"></div>
    <div class="col-md-5 ">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2 h4">Log In</legend>
                {% set form_elements = [form.username, form.password] %}
                {% for element in form_elements %}
                    <div class="form-group">
                        {{ element.label(class="form-control-label") }}
                        {% if element.errors %}
                            {{ element(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in element.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ element(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                {% endfor %}
            </fieldset>
            <div class="form-group" style="padding-top: 15px">
                {{ form.submit(class="btn btn-dark") }}
            </div>
            {% with messages = get_flashed_messages(with_categories=true, category_filter=['danger', 'success']) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="text-{{ category }}" style="padding-top: 9px">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!--
            <small class="text-muted" style="padding-top: 10px">
                <a href="#">Forgot Password?</a>
            </small>
            -->
        </form>
    </div>
    <div class="modal fade" id="IntroModal" aria-hidden="false" aria-labelledby="IntroModalLabel"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content align-items-center">
                <div class="modal-header">
                    <h5 class="modal-title" id="IntroModalLabel">Welcome to Tutorial Portal</h5>
                </div>
                <div class="modal-body text-center">
                    This is a demo web application. You may start by navigating to the <b>Register (Tutor)</b> page, create an
                    account, login and begin exploring. You are encouraged to report any issues you experience or
                    even contribute to this project via <b><a class="text-dark" href="https://github.com/gordonmhy/tutorialportal">Github</a></b>. You can always click the bottom copyright tag to get to
                    the Github repository of this project.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Start Exploring
                    </button>
                    <a class="btn btn-outline-success" href="https://github.com/gordonmhy/tutorialportal">Learn More</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}